/* Fons pa visu ekr훮nu */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.hero {
    background: url('mainpage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

/* Navig훮cijas josla */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Caursp카d카ga melna josla */
    padding: 15px 0;
    z-index: 100;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: white;
}

.karte-link {
    color: limegreen;
}
